# From https://github.com/github/gitignore/blob/main/community/Nix.gitignore

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# Additional

# Ignore workspaces
*_ws
